@model List<TinyDots.Models.Drawing>

<h1>Drawings</h1>

@if (!Model.Any())
{
    <p>No drawings yet.</p>
}
else
{
    <ul>
        @foreach (var drawing in Model)
        {
            <li>
                Drawing #@drawing.Id - Created @drawing.CreatedAt
                |
                <a href="/Drawings/Details/@drawing.Id">View</a>
                |
                <a href="Drawings/Edit/@drawing.Id">Edit</a>
                |
                <a href="/Drawings/Delete/@drawing.Id">Delete</a>
            </li>
        }
    </ul>
}